<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DMRDataBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DMRDataBridge.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>10.10.1.9</value>
            </setting>
            <setting name="HostPort" serializeAs="String">
                <value>62030</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>passw0rd</value>
            </setting>
            <setting name="StationID" serializeAs="String">
                <value>313541204</value>
            </setting>
            <setting name="LocalPort" serializeAs="String">
                <value>62035</value>
            </setting>
            <setting name="KeepAliveInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Callsign" serializeAs="String">
                <value>DMRDATA</value>
            </setting>
            <setting name="UdpTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="VoiceTimeoutCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DataTimeoutCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MqttServer" serializeAs="String">
                <value>10.10.1.7</value>
            </setting>
            <setting name="OutputDisplayTopic" serializeAs="String">
                <value>radio/raw/tech</value>
            </setting>
            <setting name="PublishMQTT" serializeAs="String">
                <value>True</value>
            </setting>
        </DMRDataBridge.Properties.Settings>
    </userSettings>
</configuration>
